*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans',   sans-serif;
}
.main-nav{
    width: 100%;
    height: 130px;
    background-color: #F4F4F4;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-headig{
    display: flex;
    
}
.span-color{
    color: #ff42a5;
}
.game-text{
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    
}
.menu-itam{
    display: flex;
    justify-content: space-between;
}
.menu{
    margin: 10px;
}
.menu li {
    display: inline;
    
     
}

.menu li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
}
.size-fix li {
    display: inline;
    
     
}

.size-fix li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
}
.size-fix {
    background-color:#e7e6e9 ; 
    padding: 10px;
    border-radius: 8px;
    
}
.fa-brands1{
    color: red;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    width: 100%;
   
}
.fast-text{
    color: #0B0223;
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top:50px ;
    

}
.sec-text {
    font-size: 4.5em;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-part1{
    padding-left: 150px;
}
.banner-part1 p {
    color: #534C64;
    font-size: 1em;
    font-weight: 500;
    text-transform: lowercase;
       
}

.banner-part2{
    width: 45%;
    padding-right: 190px;
}
.banner-part2 img{
    width: 100%;
    margin-left: 40px;
}
.button-com{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    
}
.button-section{
    margin-top: 30px;
    
}
.button-section a{
    text-decoration: none;
} 
/* photo */
.game-phot{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-phot img{
    padding-left:145px ;
    width: 60%;
}
/* new section stra */
.tex-1{
    color: #0B0223;
    font-size: 3.5em;
    font-weight: 700;
}

.tex-new{
    text-align: center;
    margin-top: 100px;
}
.tex-new p{
    color: #534C64;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px
}
.main-cord{
    display: flex;
    padding: 50px 150px;   
}
.card img{
    width:90%;
    height: 300px;
     
}


/* new section end */

/* hurse */
.hourse-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-manu{
    margin-bottom: 220px;
    
}
.text-manu h3{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    padding:0 227px;
}
.text-manu p{
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    padding:0 227px;
    
}
.hours-img{
   
    
}
.hours-img img{
    width: 60%;
    margin-right:200px;
    margin-top: 100px;

}
.extra-img{
    position: relative;
    bottom: 248px;
    right: 82px;
}
.extra-img{
    width: 50%;
}
/* hurse  end*/

/* warp */
.main-rap{
    height: 300px;
    margin-top: -100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03));
    padding: 50px 125px;
    display: flex;  
    flex-wrap: wrap;

}
.warp-img{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    width: 215px;
    height: 31px;
    padding: 20px;
    
}
.warp-img a:hover{
    color: red;
}
.warp-img:hover{
    border: 1px solid red;
}
.warp-img h3 a{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

/* Moble Rsponsive */

@media screen and (max-width:575px){
    
    /* nav */
    .main-nav{ 
        flex-direction: column;
        height:250px;
        background-color:#ffffff;
    }
    .menu{
        margin-left: 30px;
    }
    .menu-itam{
        flex-direction: column;
    }
    .menu li {
        display: block;
        padding: 5px;
    }
    .nav-headig{
        margin-top: 30px;
        
    }
    .nav-headig h1{
        font-size: 2em;
    }
    /* nav end */
    /* banner */
    .banner{
        flex-direction: column;
    }
    .banner-part1{
        padding-left: 50px;
    }
    .banner{
        align-items: center;
    }
    .banner-part2{
        margin-top: 50px;
    }
    .banner-part2{
        margin-left: 100px;
    }
    .game-phot{
        visibility: hidden;
        height: 215px;
        
    }
    
    .game-phot img{
        visibility: visible;
        padding-left:0;
        width: 100%;

    }
    /* new section stra */
    .tex-new{
        padding: 50px;
        font-size: smaller;
    }
    .main-cord{
        flex-direction: column;
        align-items: center;
        padding: 0px 0px;
        margin-left: 40px;
    }
    .card{
        padding: 20px;
    }
    .font-14{
        padding: 10px;
    }  

    /* new section end */

    /* hours */

    .hourse-section{
    flex-direction: column;
    align-items: center;
    }
    .text-manu{
    margin-bottom: 0px;
    }
    .text-manu h3{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding:0 50px;
    }
    .text-manu p{
    text-align: center;
    font-size: 1empx;
    font-weight: 700;
    padding:0 50px;
    }
    .hours-img{
     
    }
    .hours-img img{
    margin-right:0px;
    margin-top: 30px;
    margin-left: 100px;
    }
    .extra-img{
    bottom: 138px;
    right: 51px;
    }
    /* wrap */
    .main-rap{
        height: 700px;
        padding: 40px 90px;
        gap: 20px;
    }
}

/* tab */
@media screen and (min-width:575px) and (max-width:768px){
    /* nav */
    .main-nav{ 
        flex-direction: column;
        height: 250px;    
    }
    .menu{
        margin-left: 30px;
    }
    .nav-headig{
        margin-top: 30px;
    }
       /* nav end */
       /* banner */
       .banner{
        flex-direction: column;
    }
    .banner-part1{
        padding-left: 50px;
    }
    .banner{
        align-items: center;
    }
    .banner-part2{
        margin-top: 50px;
    }
    .banner-part2{
        margin-left: 100px;
    }
    .game-phot{
        height: 215px;
    }

    /* new */
    .tex-new{
        padding: 50px;
        font-size: smaller;
    }
    .main-cord{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 0px 0px;
        margin-left: 40px;
    }
    .card{
        padding: 20px;
    }
    .font-14{
        padding: 11px;
    } 
    /* hours  */
    .hourse-section{
        flex-direction: column;
        align-items: center;
    }
    .text-manu{
        margin-bottom: 0px;
    }
    .text-manu h3{
        text-align: center;
        font-size: 3.5em;
        font-weight: 700;
        padding:0 155px;
    }
    .text-manu p{
        text-align: center;
        font-size: 1empx;
        font-weight: 700;
        padding:0 50px;
    }
    .hours-img{
        width: 100%;
        margin-left: 95px;  
    }
    .hours-img img{
        margin-right:0px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .extra-img{
        bottom: 225px;
        right: 73px;
    }
    .extra-img{
        width: 40%;
    }
    .main-rap{
        gap: 20px;
        padding: 40px 90px;
    }
}